={% extends '../layouts/default.html' %}
{% block content %}
<section style="margin-top:200px;">
   <nav class="panel">
      <p class="panel-heading">
         Login
      </p>
      <div class="panel-block">
         <div class="field">
            <p class="control has-icons-left has-icons-right">
               <input class="input is-large" type="email" placeholder="Email">
               <span class="icon is-small is-left">
               <i class="fas fa-envelope"></i>
               </span>
               <span class="icon is-small is-right">
               <i class="fas fa-check"></i>
               </span>
            </p>
         </div>
         <div class="field">
            <p class="control has-icons-left">
               <input class="input is-large" type="password" placeholder="Password">
               <span class="icon is-small is-left">
               <i class="fas fa-lock"></i>
               </span>
            </p>
         </div>
         <div class="field">
            <p class="control">
               <button class="button is-success is-large">Login</button>
            </p>
         </div>
      </div>
   </nav>
</section>
{% endblock %}